{% extends 'template.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block main %}

    <div class="row justify-content-between">
        <div class="card col-md-5 p-0 mb-5">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Se connecter</h5>
            </div>
            <div class="card-body text-center">               
                <p class="card-text">Connectez-vous et profitez de nos fonctionnalités pour construire vos projets.</p>
                <hr>
                <a href="#" class="btn btn-danger">Connexion</a>
            </div>
        </div>

        <div class="card col-md-5 p-0 mb-5">
            <div class="card-header bg-dark text-white text-center">
                <h5 class="card-title">Créer un compte</h5>
            </div>
            <div class="card-body text-center">    
                <p class="card-text">Inscrivez-vous et accédez à tous nos outils pour construire vos projets.</p>
                <hr>
                <a href="{{path("register")}}" class="btn btn-danger">Inscription</a>
            </div>
        </div>
    </div>

{% endblock %}
