{% extends 'template.html.twig' %}

{% block title %}Modifier tâche{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Modifier une tâche</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="row d-flex justify-content-around mb-5">
        <button  class="btn btn-dark"><a href="{{ path('project_index') }}">Retourner voir le projet</a></button>
    </div>
{% endblock %}
