{% extends 'template.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block main %}
    <h1 class="mb-5 text-center">Ajouter une nouvelle tâche.</h1>

    {{ include('task/_form.html.twig') }}

    <div class="mb-5 text-center">
        <a href="{{ path('task_index') }}">Retourner à la liste.</a>
    </div>
{% endblock %}
