{% extends 'base.html.twig'%}

{% block body %}

    <header class="jumbotron jumbotron-fluid mb-0 bg-dark text-white">
        <section class="container text-center">
            <h1 class="display-4">Manage Your Project</h1>
            <p class="lead">Avant de construire votre projet, dessinez vos plans.</p>
        </section>
    </header>

    <nav class="nav nav-pills nav-fill mb-5 bg-danger">
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ path("home") }}">Acceuil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Much longer nav link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Disabled</a>
        </li>
    </nav>

    <main class="container">
        {% block main %}{% endblock %}
    </main>

    <footer class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container">
            <p class="lead">Une application développée par okALme.fr, tous droits réservés.</p>
        </div>
    </footer>

{% endblock %}