{% extends 'template.html.twig' %}

{% block title %}Modifier projet{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Modifier votre projet</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row justify-content-around mb-5">
        <button  class="btn btn-dark"><a href="{{ path('project_index') }}">Retourner à la liste des projets</a></button>
    </div>
{% endblock %}
