{% extends 'template.html.twig' %}

{% block title %}New Project{% endblock %}

{% block main %}
    <h1 class="mb-5 text-center">Créer un nouveau projet</h1>

    {{ include('project/_form.html.twig') }}

    <div class="mb-5 text-center">
    <a href="{{ path('project_index') }}">Retourner sur la page de vos projet</a>
    </div>
{% endblock %}
